@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply text-black font-bold;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

